@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

*,
*::before,
*::after {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

h1 {
  color: #031964;
  font-size: 3.5rem;
  font-family: "Bungee", cursive;
}

p,
h2 {
  color: #eeeff1;
  padding: 0.5rem;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #426a5a;
  width: 45%;
  height: auto;
  margin: 1rem;
  padding: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 1rem;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card__top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.card__top img {
  width: 180px;
}

.card__bottom {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
